*/ colores 
#008546 vert kelly
#b2a4d5 lavande
*/

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: ghostwhite;
}


.itemDetail {
  max-width: 750px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}